* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

:root {
  --color1: #dbdbdb;
  --color2: #a7a7a7;
  --space-s: 4px;
  --space-m: 10px;
  --space-l: 6vw;
  --space-xl: 14vw;
  --select: #accef7;
  --red: #ed1d24;
  --blue: #21409a;
  --green: #009444;
  --grey: #a7a9ac;
}

@media screen and (max-width: 600px) {
  :root {
    --space-s: 4px;
    --space-m: 10px;
    --space-l: 10vw;
    --space-xl: 20vw;
  }
}

.-m-b-0 {
  margin-bottom: 0;
}

.-m-b-s {
  margin-bottom: var(--space-s);
}

.-m-b-m {
  margin-bottom: var(--space-m);
}

.-m-b-l {
  margin-bottom: var(--space-l);
}

.-m-b-xl {
  margin-bottom: var(--space-xl);
}

body {
  padding: 0;
  margin: 0;
  background-color: white;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: calc(var(--header) + 4 * var(--space-m));
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.4s ease;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateY(100%);
}

.jumping {
  width: 100%;
  text-align: left;
  letter-spacing: 0.6em;
  margin-bottom: var(--space-m);
  text-transform: uppercase;
  transition: transform 0.3s ease;

  &:not(.singleartist, .name) {
    cursor: default;
    max-width: 90vw;
  }

  @media screen and (max-width: 600px) {
    max-width: 95vw;
  }

  &:hover {
    & > .word {
      & > .letter {
        transform: scale(1.08);
      }
    }
  }

  @media screen and (min-width: 600px) {
    &:not(:hover) {
      & > .word {
        & > .letter {
          user-select: none;
          transform: rotate(0) !important;
          transform: scale(1.08);
        }
      }
    }
  }
  & > .word {
    white-space: nowrap;
    &:not(:last-child) {
      margin-right: 1.5vw;
    }

    & > .letter {
      display: inline-block;
      font-size: var(--type-xl);
      line-height: 92%;
      letter-spacing: 0em;
      -webkit-hyphens: auto;
      hyphens: auto;
      color: black;
      transition: transform 0.3s ease;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */

      /* &:nth-child(5n) {
        color: var(--blue);
      }
      &:nth-child(5n + 1) {
        color: var(--red);
      }
      &:nth-child(5n + 2) {
        color: var(--green);
      }
      &:nth-child(5n + 3) {
        color: black;
      } */
    }
  }
}
