@font-face {
  font-family: 'NHGMedium';
  src: url('/assets/HaasGrotDisp-65Medium.otf') format('opentype');
}

@font-face {
  font-family: 'NHG';
  src: url('/assets/HaasGrotDisp-55Roman.otf') format('opentype');
}

:root {
  --type-s: 16px;
  --type-m: 25px;
  --type-l: max(3.4vw, 35px);
  --type-xl: 6vw;
}

@media screen and (max-width: 600px) {
  :root {
    --type-s: 13px;
    --type-m: 4.5vw;
    --type-l: 6.5vw;
    --type-xl: 9vw;
  }
}

* {
  font-family: 'NHG', sans-serif;
}

a {
  color: black;
  text-decoration: none;

  &:hover {
    color: black;
    & > * {
      color: black;
    }
  }
}
