@font-face {
	font-family: 'P-A';
	src: url('/assets/Pirelli-Medium_A.woff') format('woff');
}
@font-face {
	font-family: 'P-B';
	src: url('/assets/Pirelli-Medium_B.woff') format('woff');
}

@font-face {
	font-family: 'Karrik';
	font-style: normal;
	src: url('/assets/k/WOFF/Karrik-Regular.woff') format('woff'),
		url('/assets/k/WOFF/Karrik-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Karrik';
	font-style: italic;
	src: url('/assets/k/WOFF/Karrik-Italic.woff') format('woff'),
		url('/assets/k/WOFF/Karrik-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Jakarta';
	font-style: normal;
	src: url('/assets/j/PlusJakartaSans-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Jakarta';
	font-style: italic;
	src: url('/assets/j/PlusJakartaSans-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Selectric';
	src: url('/assets/SelectricUniversOne-Book.otf') format('opentype');
}
@font-face {
	font-family: 'Grot';
	src: url('/assets/GrotesqueMTStd-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'century';
	src: url('/assets/CenturySchoolbookStd.otf') format('opentype');
}

:root {
	--type-s: 15px;
	--type-m: 25px;
	--type-l: max(3.4vw, 35px);
	--type-xl: 6vw;
}

@media screen and (max-width: 600px) {
	:root {
		--type-s: 13px;
		--type-m: 4.5vw;
		--type-l: 6.5vw;
		--type-xl: 9vw;
	}
}

body {
	font-family: Helvetica, sans-serif;
	font-weight: 500;
	font-size: var(--type-s);
}

a {
	color: black;
	text-decoration: none;

	&:hover {
		color: black;
		& > * {
			color: black;
		}
	}
}
